@page
<!DOCTYPE html>
<html>
    <head>
        <title>C# SignalR</title>
    </head>
    <body>
        <h1>Random Number Display</h1>
        <p>
            Random number: <span id="random-number"></span>
        </p>

        <button id="update-button">Update now!</button>

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/main.js"></script>
    </body>
</html>
